<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.aperez.gridapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.aperez.gridapp.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="edu.aperez.gridapp.ProcessorService" />

        <service android:name="edu.aperez.gridapp.BatteryService" />

        <receiver android:name="edu.aperez.gridapp.ProcessorReceiver" />

        <service android:name="edu.aperez.gridapp.DeviceInformationService" />
    </application>

</manifest>
